{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <div class="card">
        <div class="card-header">
            <h5>{{ post.title }}</h5>
            <p>{{ user.getEmail() }}</p>
        </div>
        <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="lead">{{ post.teaser | nl2br }}</p>
            <hr />
            <p class="card-text">{{ post.text | nl2br }}</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>

    <div class="mt-3">
        <a class="btn btn-primary" href="{{ path('post_index') }}">List of Posts</a>
        <a class="btn btn-success" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
        {{ include('post/_delete_form.html.twig') }}
    </div>

{% endblock %}
